<div class="row border-bottom">
    <nav class="navbar" role="navigation">

        <ul class="nav navbar-top-links navbar-left m-l-10">
            <li>
                <a>
                    <i class="fa fa-import"></i> CalendarTM
                </a>
            </li>
            <li class="hidden-xs">
                <a>
                    {{ currentDate  | date:'mediumDate'}}
                </a>
            </li>
        </ul>

        <ul class="nav navbar-top-links navbar-right hidden-xs">
            <li>
                <a>
                    <i class="fa fa-calendar-plus-o" ></i> <span class="hidden-xs">Create Event</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-download"></i> <span class="hidden-xs">Import Event</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div ui-view></div>
