<div class="row m-t-10">
    <div class="col-xs-2 col-sm-1 m-t-30 p-l-0">
        <div class="calendar-times">
            <div class="times" ng-repeat="t in times">{{t}}</div>
        </div>
    </div>

    <div class="col-xs-10 col-sm-10 m-t-30 p-l-0 p-r-0">
        <div class="calendar">

            <div class="divider" ng-repeat="t in times">
                <hr class="m-b-0 m-t-0">
            </div>

            <div class="event" ng-repeat="e in events" style="top:{{e.start}}px; width:{{ 1 / e.width * 100}}%; left:{{ e.level === 100 ? 0 : e.level }}%; height:{{e.end - e.start}}px;">
                <small class="event-description">{{ e.startDate | date: 'shortTime' }} to {{ e.endDate | date: 'shortTime' }}</small>
            </div>
        </div>
    </div>
</div>
